# Virtual Environment
.venv/
venv/
ENV/

# Python / PyCache
__pycache__/
*.py[cod]
*$py.class
*.so
.pytest_cache/

# Environment / Secrets
.env
.env.local

# PyCharm / IDEs
.idea/
.vscode/
*.swp
*.swo

# OS Artifacts
.DS_Store
Thumbs.db

.coverage
htmlcov/